<div class="alert alert-danger" role="alert">
    <h4>Exception Path</h4>
    <p>@ViewBag.Path</p>
</div>

<div class="alert alert-danger" role="alert">
    <h4>Exception Message</h4>
    <p>@ViewBag.Exception.Message</p>
</div>

<div class="alert alert-danger" role="alert">
    <h4>Exception StackTrace</h4>
    <p>@ViewBag.Exception.StackTrace</p>
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-link">Go Back to Home</a>