
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>
<p>Aliquyam lorem clita dolor consequat feugait clita imperdiet sed ipsum et gubergren duo takimata duo elit ipsum sed sit facilisi</p>
<p>Click <mail email="mailto:shaikhzaki67@gmail.com">here</mail> to send email for more details.</p>